PROJET DOCKER

In [1]:
#useful packages
import requests
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.svm import SVC
from sklearn.preprocessing import StandardScaler
import joblib

In [2]:
#example with iris
res= requests.get("https://yameogo123-backend.hf.space/iris") 
res= res.json()["iris"]

In [3]:
db= pd.DataFrame(res[1:], columns=res[0])

In [4]:
db.head()

  SepalLength SepalWidth PetalLength PetalWidth         Name
0         5.1        3.5         1.4        0.2  Iris-setosa
1         4.9        3.0         1.4        0.2  Iris-setosa
2         4.7        3.2         1.3        0.2  Iris-setosa
3         4.6        3.1         1.5        0.2  Iris-setosa
4         5.0        3.6         1.4        0.2  Iris-setosa

In [5]:
standard= StandardScaler()

In [6]:
x= standard.fit_transform(db.iloc[:,:-1])
y= db.iloc[:,-1]

In [102]:
#joblib.dump(standard, "iris-scale.pkl")

['iris-scale.pkl']

In [7]:
xtrain, xtest, ytrain, ytest= train_test_split(x, y, stratify=y, test_size=0.3, random_state=1)

In [8]:
lr= LogisticRegression(random_state=1).fit(xtrain, ytrain)

In [9]:
lr.score(xtest, ytest)

0.9777777777777777

In [107]:
#joblib.dump(lr, "iris-classif-lr.pkl")

['iris-classif-lr.pkl']